/*=================== Jumbotron Styling =======================*/

.jumbotron {
    font-weight: bold;
    background-color: #5479b0;
    border: 10px inset #ec524d;
    margin: 0;
    padding: 0;
}

.jumbotron h1 {
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
    color: #ec524d;
    text-shadow: 3px 3px #3a3955;
}


/*====================== Navbar Styling =======================*/

#navView {
    margin-top: 15px;
}

.navbar-btn {
    font-size: 1.5em;
}


/*=================== Main View Styling =======================*/

h2 {
    font-size: 1.1em;
    background-color: #5479b0;
    color: white;
    padding: 10px;
}

th {
    text-align: center;
}

table th {
    width: auto !important;
}

.table>tbody>tr>td {
    vertical-align: middle;
}


/*=================== Employees View Styling =================*/

.inactive {
    background-color: #b5c4bc;
    color: #ec524d;
    font-style: italic;
}

.statusButton, .deleteButton {
    height: 40px;
}

.statusButton {
    background-color: #5479b0;
    color: white;
}


/*=================== Budget Analysis Styling ===================*/

.budgetAnalysis td {
    font-size: 1.2em;
    text-align: right;
    padding-left: 25px;
}

#variance {
    border-top: 1px solid black;
}
