<h2>Monthly Budgets</h2>

<h2>Budget this month: {{budgets.currentBudget | currency:"$"}}</h2>
<h2>Add Budget</h2>

<form id="budget-form" class="container">
    <div class="form-group col-md-2 col-md-offset-2">
        <!-- <label for="month">First:</label> -->
        <input type="text" ng-model="budgets.newBudget.month" name="month" placeholder="Month" />
    </div>

    <div class="form-group col-md-2">
        <!-- <label for="year">Last:</label> -->
        <input type="text" ng-model="budgets.newBudget.year" name="year" placeholder="Year" />
    </div>

    <div class="form-group col-md-3">
        <!-- <label for="budget">Budget:</label> -->
        <input type="number" ng-model="budgets.newBudget.monthly_budget" name="monthly_budget" placeholder="Budget" />
    </div>

    <button class="btn btn-default col-md-1" ng-click="budgets.addBudget()"><i class="material-icons">add</i></button>
</form>

<h2>Budget History</h2>

<table class="table table-bordered">
    <thead>
        <tr class="active">
            <th class="col-md-2 col-md-offset-2">Month</th>
            <th class="col-md-2">Year</th>
            <th class="col-md-2">Budget</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr class="budgetRow" ng-repeat="budget in budgets.budgets"> -->
          <tr class="budgetRow" ng-repeat="budget in budgets.budgets" >
            <td>{{budget.month}}</td>
            <td>{{budget.year}}</td>
            <td class="text-right">{{budget.monthly_budget}}</td>
        </tr>
    </tbody>
</table>
