<h1>Warehouses</h1>
<form>
  <div class="form-group">
    <label for="product-search">Product Search:</label>
    <select class="form-control" name="product-search" ng-options="warehouse.description as warehouse.description for warehouse in warehouses.data | unique:'description'" ng-model="warehouses.query"></select>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Warehouse</th>
      <th>Fullfillment Days</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="warehouse in warehouses.data | filter: {'description': warehouses.query} | unique:'warehouse'">
      <td>{{warehouse.warehouse}}</td>
      <td>{{warehouse.fulfillment_days}}</td>
    </tr>
  </tbody>
</table>
